<ion-header-bar align-title="left" class="bar-dark">
	    <div class="h1 title">微信</div>
	    <div class="buttons">
	        <button class="button no-animation button-icon icon ion-android-search">
	        </button>
	        <button class="button no-animation button-icon icon ion-android-add">
	        </button>
	    </div>
	</ion-header-bar>
<ion-view>
    <ion-content on-swipe-right="onSwipeRight()">
         <ion-list class="rj-list">
            <ion-item class="item item-avatar">
                <img src="img/zhangguoli.jpg" width="200" height="200">
				<h2>张国立</h2>
				<p>铁齿铜牙纪晓岚<p>
            </ion-item>
			<div class="rj-contacts-index-bar"></div>
			<ion-item class="rj-item">
				<div class="rj-contacts-pic">
                            <img src="img/xiangce.png">
                </div>
				<h2>相册</h2>
			</ion-item>
			<ion-item class="rj-item">
				<div class="rj-contacts-pic">
                            <img src="img/shoucang.png">
                </div>
				<h2>收藏</h2>
			</ion-item>
			<ion-item class="rj-item">
				<div class="rj-contacts-pic">
                            <img src="img/qianbao.jpg">
                </div>
				<h2>钱包</h2>
			</ion-item>
			<div class="rj-contacts-index-bar"></div>
			<ion-item class="rj-item">
				<div class="rj-contacts-pic">
                            <img src="img/biaoqing.png">
                </div>
				<h2>表情</h2>
			</ion-item>
			<div class="rj-contacts-index-bar"></div>
			<ion-item class="rj-item">
				<div class="rj-contacts-pic">
                            <img src="img/shezhi.png">
                </div>
				<h2>设置</h2>
			</ion-item>
		 </ion-list>
    </ion-content>
</ion-view>
